# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

***Objectives***:

-List popular languages for Data Science

-Commonly used libraries by data scientist

-popular languages that data scientist use

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. TensorFlow
4. Seaborn

|Data Science Tool|
|-----------------|
|python|
|SQL|
|Tableau|

Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
#This is a simple arithmetic expression to multiply then add integers.
x = 3
y = 4
z = 5
result = (x*y) + z
print(result)

17

In [20]:
#This will convert 200 minutes to hours by dividing by 60.
x = 200
y = 60
result = x/y
print(result)

3.3333333333333335

## Author
Biddwan Guragain